<course></course>
<router-outlet></router-outlet>
<!-- <post-component></post-component> -->

<!-- solution-change-password -->
<!-- <change-password></change-password> -->

<!-- FormArray -->
<!-- <course-form></course-form> -->


<!-- Singup-Form -->
<!-- <signup-form></signup-form>
<br>
<br> -->

<!-- Exercise Course Form
<br>
<br>
<new-course-form>
    
</new-course-form> -->

<!-- Basic Bootstrap submit form
<br>
Template - Driven approach
<br>
validation
<br>
<contact-form></contact-form>
<br>
<br> -->


<!-- zippy -->
<!-- <zippy title="Shipping Detail">
    Shipping Details Content
</zippy>
<br>
<br> -->

<!-- Custom Directive -->
<!-- Custom Directive
<input type="text" [appInputFormat]="'upercase'">
<br>
<br> -->

<!-- ngStyle -->
<!-- <button
[ngStyle]= "{
    'backgroundColor': canSave ? 'blue' : 'gray',
    'color': canSave ? 'white' : 'black'}"
>ngStyle button</button
    >
<br> -->

<!-- ngFor -->
<!-- <button (click)="loadCourses()">Load Courses</button>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of Courses; trackBy trackCourse">
        {{course.name}}
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onUpdate(course)">Edit</button>

    </li>
</ul> -->

<!-- ngSwitchCase -->
<!-- <ul class="nav nav-pills">
    <li [class.active] ="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li> 
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchCase>Otherwise</div>
</div>
<br> -->

<!-- ngIf -->
<!-- <div *ngIf="courses.length > 0">
    List of courses 
</div>
<div *ngIf="courses.length == 0">
    No course yet
</div>


<div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
    List of courses (ng-template)
</ng-template>
<ng-template #noCourses>
    No courses yet (ng-template)
</ng-template>

<br> -->

<!-- <Like
[LikesCount] = "tweet.LikesCount"
[isActive] = "tweet.isLiked"
>
    
</Like
> -->


<!-- <favorite (change)='onFavoriteChanged()'></favorite>
<h1>Angular</h1>
<courses></courses>
<authors></authors> -->


